# Database Connection Details
DB_USER=postgres
DB_PASS=your_db_password
DB_HOST=localhost
DB_PORT=5432

# Database Setup
PARENT_DB_NAME=parent_ledgerpro_db
CHILD_DB_NAME=child_ledgerpro_db

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
RESET_TOKEN_EXPIRE_MINUTES=30


FRONTEND_URL=http://localhost:3000
